---
layout: default
---

{%- for post in site.posts -%}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<h3>
    <a class="post-link" href="{{ post.url | relative_url }}">
    {{ post.title | escape }}
    </a>
</h3>
<!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ post.date | date: date_format }}
      </time>
      {%- if post.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ post.author }}</span></span>
      {%- endif -%}
    </p>
{%- if site.show_excerpts -%}
    {{ post.excerpt }}
{%- endif -%}
{%- endfor -%}
